:root {
  --basic-black: #000000;
  --basic-dark-black: #283136;
  --basic-light-black: #4d4d4d;
  --basic-extra-black: #231f20;
  --basic-neutral-grey: #eeeeee;
  --basic-grey: #a6a6a6;
  --basic-light-grey: #E8E8E8;
  --basic-extra-grey: #dfdfdf;
  --basic-dark-grey: #d5d5d5;
  --basic-white: #ffffff;
  --basic-red: #fb565a;
  --basic-light-red: #e74246;
  --basic-extra-red: #d7373b;
  --basic-green: #00ca74;
  --basic-light-green: #00bc6c;
  --basic-extra-green: #00aa62;
  --basic-yellow: #efc84a;
  --basic-light-yellow: #eab534;
  --basic-extra-yellow: #e5a722;
}

/* Global */



body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-dark-black);
  text-transform: none;
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header,
.page-header {
  padding-top: 25px;
  background-color: var(--basic-neutral-grey);
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
}

/* Main navigation */

.main-navigation {
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  width: 160px;
}

.basket-link {
  width: 160px;
    text-transform: uppercase;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  justify-content: flex-start;
  align-items: baseline;
  text-transform: uppercase;

}

.site-navigation li {
  margin-right: 45px;
  margin-bottom: 10px;
}



.site-navigation,
.basket-link {
  list-style: none;
  font-weight: 500;
  line-height: 16px;
}

.site-navigation a,
.basket-link {
  color: var(--basic-black);
}

.site-navigation a:hover,
.basket-link:hover {
  color: var(--basic-red);
}

.site-navigation a:focus,
.basket-link:focus {
  color: var(--basic-gray);
}

.site-navigation-current a:not([href]) {
  color: var(--basic-black);
  text-decoration: underline;
  text-decoration-color: var(--basic-red);
}

/* slider */

.slide {
  margin-bottom: 80px;
  background-color: var(--basic-neutral-grey);
}

.slide-wrap {
  width: 1160px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 760px;
}

.slider {
  list-style: none;
  background-color: var(--basic-neutral-grey);
}

.slide-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.slogan {
  margin: 70px 0 0 0;
  padding-right: 10px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider-text {
  padding-bottom: 40px;
}

.slider-pagination {
  display: flex;
}

.slider-pagination li {
  list-style-type: none;
  margin-right: 17px;
}

.slider.button,
.services-item.button {
  padding: 15px 55px;
  background-color: var(--basic-red);
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 3px;
}

.slider.button {
  width: 240px;
}

.slider.button:hover,
.services-item.button:hover {
  background: var(--basic-red);
}

.slider.button:focus,
.services-item.button:focus {
  background-color: var(--basic-extra-red);
  opacity: 0.3;
}

/*services*/

.services {
  margin-bottom: 80px;
}

.services-list {
  list-style: none;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.services-item {
  margin-bottom: 25px;
  width: 300px;
  text-align: left;
}

.services-item p {
  margin-bottom: 40px;
}

.services-item h3 {
  margin-bottom: 0;
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.services-item.button-green {
  padding: 15px 55px;
  background-color: var(--basic-green);
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 3px;
}

.services-item.button-green:hover {
  background-color: var(--basic-light-green);
}

.services-item.button-green:focus {
  background-color: var(--basic-extra-green);
  opacity: 0.3;
}

.services-item.button-yellow {
  padding: 15px 55px;
  background-color: var(--basic-yellow);
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 3px;
}

.services-item.button-yellow:hover {
  background-color: var(--basic-light-yellow);
}

.services-item.button-yellow:focus {
  background-color: var(--basic-extra-yellow);
  opacity: 0.3;
}

/*about*/

.about-wrap {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 800px 360px;
}

.about {
  max-width: 650px;
}

.slogan-about {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.title-about {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.development-list,
.portfolio-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*  portfolio */

.portfolio-list {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.map {
  position: relative;
  width: 100%;
  height: 416px;
  margin-bottom: 70px;
  background-image: url(../img/map.jpg);
}

.contact {
  position: absolute;
  top: 156px;
  left: 0px;                                     ;
}

/*footer*/

.main-footer {
  color: var(--basic-black);
  background-color: var(--basic-white);
  margin-bottom: 80px;
}

.footer-wrapper {
  width: 1160px;
  margin: 0 auto;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.social {
  width: 260px;
}

.social-list {
  display: flex;
  justify-content: space-around;
}

.social ul {
  list-style: none;
}

.social-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(0deg, #e1e1e1, #e1e1e1), #ffffff;
  text-align: center;
}

.social-button:hover {
  background: red;
}


.promo span {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.promo p {
  line-height: 22px;
}

/*contact*/

.contact h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.contact p {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.contact-tel a {
  color: #666666;
}

.button {
  padding: 15px 55px;
  background-color: var(--basic-red);
  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 3px;
}

/*page-catalog*/

.page-header {
  margin-bottom: 50px;
  background-color: var(--basic-neutral-grey);
}

.page-grid {
  display: grid;
  grid-template-columns: 400px 760px;

}

.content-header {
  display: flex;
  justify-content: space-between;
  min-width: 760px;

}

.sort-list {
  display: flex;
}

.sort-item {
  padding: 0;
  margin-right: 25px;
}

.catalog-title {
  margin: 0;
  padding: 70px 0 110px 0;
  text-align: center;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.sort {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.sort-list,
.sort-control,
.content-browser,
.pagination {
  list-style: none;
}

.sort-item {
  font-size: 14px;
  color: #E8E8E8;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-item a.active {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}



.pagination-item {
  width: 50px;
  height: 40px;
  padding-top: 10px;
  text-align: center;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  background-color: var(--basic-light-grey);
}

.pagination-item-current {
  width: 50px;
  height: 40px;
  padding-top: 10px;
  text-align: center;
  background-color: var(--basic-white);
  border: 1px solid #DBDBDB;
}

.pagination-item-next {
  width: 260px;
  height: 40px;
  padding-top: 10px;
  background-color: var(--basic-neutral-grey);
  border: 1px solid #DBDBDB;
  text-align: center;
}

.content-main {
  min-width: 760px;
  padding: 0;
}

.content-browser {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 0;
}

.content-item {
  width: 360px;
  height: 618px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid  var(--basic-light-grey);
  border-radius: 3px;
}

.content-item:nth-child(2n) {
  margin-right: 0;
}

.browser {
  width: 360px;
  height: 40px;
  margin: 0;
  padding: 0;
  background-color: var(--basic-light-grey);
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 445px;
  padding: 0;
  margin-bottom: 60px;
}
