:root {
    --basic-black: #000000;
    --basic-dark-black: #283136;
    --basic-light-black: #4d4d4d;
    --basic-extra-black: #231f20;
    --basic-neutral-grey: #eeeeee;
    --basic-grey: #a6a6a6;
    --basic-light-grey: #E8E8E8;
    --basic-extra-grey: #dfdfdf;
    --basic-dark-grey: #d5d5d5;
    --basic-white: #ffffff;
    --basic-red: #fb565a;
    --basic-light-red: #e74246;
    --basic-extra-red: #d7373b;
    --basic-green: #00ca74;
    --basic-light-green: #00bc6c;
    --basic-extra-green: #00aa62;
    --basic-yellow: #efc84a;
    --basic-light-yellow: #eab534;
    --basic-extra-yellow: #e5a722;
}


/* Global */

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-dark-black);
    text-transform: none;
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
